{% extends "base.html" %}
{% block body %}

<div class="card" style='height: 1920px; width: 1080px;' id="main_card">
	<div class="card-content center-align" style='height: 200px;'>
		<h1>GuessWho</h1>
	</div>
	<div class="card-action" style='height: 200px;'>
		<div class="row center-align">
			{% for n, name in authors %}
				<div class="col s4 valign-wrapper" style='height: 200px;'>
                    <a href="#" class="valign">
                        <h3 id="name_answer{{ n }}" value="{{ n }};{{ question_id }}">{{ name }}</h3>
                    </a>
				</div>
			{% end %}
		</div>
	</div>
	<div class="card-image" style='height: 1300px;'>
	   <img id="img_link" src="{{ img_link }}" style='max-width: 100%; max-height: 100%; width: auto; height: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;'>
		<span class="card-title center-align" style='width: 1080px;'>
			<h2 id="title_year" style="text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;">{{ title_year }}</h2>
		</span>
	</div>
	<div class="card-content" style='height: 200px;'>
		<div class="row center-align">
			<div class="col s6 align-left">
				<h2 id="cur_score">Current score: {{cur_score}}</h2>
			</div>
			<div class="col s6 align-right">
				<h2 id="top_score">Day best score: {{top_score}}</h2>
			</div>
		</div>
	</div>
</div>

<div class="card" style='height: 1920px; width: 1080px;' id="lah_card" style="display: none;">
    <div class="card-content center-align" style='height: 200px;'>
        <h1>GuessWho</h1>
    </div>
    <div class="card-action" style='height: 160px;'>
        <div class="row center-align">
            <a href="#">
                <h3 id="try_again">Try again</h3>
            </a>
        </div>
    </div>
    <div class="card-content center-align" style='height: 130px;'>
        <div class="center-align">
            <h2 id="res_text"></h2>
        </div>
    </div>
    <div class="card-content center-align" style='height: 200px;'>
        <h2> You can find these pieces of art and lots of others at Finnish National Gallery: </h2>
    </div>
    <div class="card-content center-align">
        <iframe width="1000" height="1000" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJb1XSbTIKkkYRq_1QhiJZGJk&key=AIzaSyAaq09Y_ndAyMf9dExN_qqv7HzExOEcmqs" allowfullscreen></iframe>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#lah_card").hide()
        // initialize the viewer
        $('#name_answer0, #name_answer1, #name_answer2').click(function (event) {
            var value = $(event.target).attr("value");
            console.log(value)
            $.ajax(
                {
                    url: '/',
                    type: 'POST',
                    data: 'value=' + encodeURIComponent(value),
                    success: function (jsonResponse) {
                    	var objresponse = JSON.parse(jsonResponse);
                        console.log(jsonResponse)
                    	for (let number = 0; number < 3; number++) {
                        	var answer_obj = $("#name_answer" + number)
                        	// answer_obj.removeClass("btn-default")
                        	if (number === objresponse['correct_id']) {
                        		//answer_obj.parent().parent().addClass("green", 100)
                                answer_obj.parent().parent().css('background-color', '#00FF7F');
                        	} else {
                        		//answer_obj.parent().parent().addClass("red", 100)
                                answer_obj.parent().parent().css('background-color', '#FF0000');
                        	}
						}
                    	setTimeout(function () {
					        if (objresponse['verdict'] === 'OK') {
                                $("#img_link").attr('src', objresponse['img_link']);
                                $("#title_year").text(objresponse['title_year']);
                                $("#cur_score").text('Current score: ' + objresponse['cur_score']);
                                $("#top_score").text('Day best score: ' + objresponse['top_score']);
                                question_id = objresponse['question_id'];
                                for (let number = 0; number < 3; number++) {
                                	name = objresponse['authors'][number][1];
                                	value = number.toString() + ';' + question_id;
                                    right_answer_id = "#name_answer" + number
								    $(right_answer_id).text(name);
								    $(right_answer_id).attr('value', value);
                                    //$(right_answer_id).parent().parent().removeClass("red", 50);
                                    //$(right_answer_id).parent().parent().removeClass("green", 50);
                                    $(right_answer_id).parent().parent().css('background-color', '');
                                    $(right_answer_id).parent().parent().css('background-color', '');
								}
							} else {
                                console.log("Fuck")
                                $("#main_card").hide()
                                $("#lah_card").show()
                                var res_string = "Your score: " + objresponse['cur_score']
                                if (objresponse['cur_score'] > objresponse['top_score']) {
                                    res_string = 'New high score: ' + objresponse['cur_score'] + "!"
                                }
                                $("#res_text").text(res_string)
							}
					    }, 1000);
                    },
                    error: function () {
                        
                    }
                });
            event.preventDefault();
        });

        $("#try_again").click(function (event) {
            location.reload()
        });
    });
</script>

{% end %}
